<div id="evaluations-content">
<h1><%= @indicator.title %></h1>
<h4>Bajada</h4>
<div class="text-center">
<div class="number"> <%= @indicator.description %> <span><%= image_tag @indicator.icon %></span></div>
</div>
<table id="eval_indicator_table" class="table table-inverse">
  <thead>
    <tr>
      <th><h5><%= t '.area_header' %></h5></th>
      <th><h5><%= t '.value_header' %></h5></th>
    </tr>
  </thead>
  <% @evaluations.each do |evaluation| %>
    <%= render "evaluations/row", evaluation: evaluation %>
  <% end %>
</table>
</div>
