<div id="evaluation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Evaluation </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @evaluation, remote: true, authenticity_token: true, :html => { :multipart => true }, :data => { :type => :script } do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.collection_select(:indicator_id, Indicator.all.order(:title), :id, :title, {prompt: 'Seleccione Indicador'}, {'id' => 'evaluation_indicator_dropdown','class' => 'chosen-select form-control'}) %>
            <%= f.collection_select(:area_id, Area.comunas.all.order(:name), :id, :name, {prompt: 'Seleccione comuna'}, {'id' => 'post_comuna_dropdown','class' => 'chosen-select form-control'}) %>
            <%= f.input :value %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, :id => 'post_modal_button', :format => "js", :remote => true, :input_html => {"data-dismiss" => "modal"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
