<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @evaluation.area %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @evaluation.indicator %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @evaluation.visible %>
</p>

<p>
  <strong>Value:</strong>
  <%= @evaluation.value %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
