<ul class="cd-slider">
  <% @initiatives.each_with_index do |i, index|%>
  <li class="<%= (index===0) ? 'current' : '' %>">
    <a href="" data-id="<%= i.id %>" id="post_thumb_<%=i.id %>">
      <img src="/assets/img.png" alt="project image">
      <div class="project-info">
        <h5><%= i.title %> - <%= i.area.name %></h5>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </li>
  <% end %>
</ul>
