<ul class="cd-slider" style="width:2688px;">
  <% @initiatives.each_with_index do |i, index|%>
  <li class="<%= (index===0) ? 'current' : '' %>">
    <a href="" data-id="<%= i.id %>" id="post_thumb_<%=i.id %>">
      <img src="/assets/img.png" alt="project image">
      <div class="project-info">
        <h5> <%= i.title %> </h5>
        <p> <%= i.body.truncate(37, :omission => "...más") %> </p>
      </div>
    </a>
  </li>
  <% end %>
</ul>
