<div id="initiatives_list" class="row">
  <%= paginate @initiatives, remote: true %>
  <br>
    <% @initiatives.each do |initiative|%>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="card-header">
                <h5> <%= initiative.title %> </h5>
                <%= link_to('details', post_path(initiative.id),  :data => { :toggle => "lightbox" }) %>
          </div>
          <div class="card-body">
                <%= initiative.body %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
    <%= page_entries_info @initiatives %>
</div>
