<ul class="cd-slider-2">
  <% @projects.each_with_index do |i, index|%>
  <li class="<%= (index===0) ? 'current' : '' %>">
    <a href="" data-id="<%= i.id %>" id="post_thumb_<%=i.id %>">
      <% if i.image.size.nil? %>
        <img src="/assets/img.png" alt="project image" class="img-responsive" style="height: 278px;">
      <% else %>
        <%= image_tag i.image.url, :alt => "project image", class:"img-responsive", style:"height: 278px;" %>
      <% end %>
      <div class="project-info <%= 'is_dia' if i.mark == true %>">

      <% if i.mark == true %>
        <p class="text-right">Días para recibir observaciones <%= number_to_spans i.remaining_days %></p>
      <% else %>
        <p class="text-right">Días para enviar observaciones <%= number_to_spans i.remaining_days %></p>
      <% end %>

        <h5> <%= i.title %> </h5>
        <p> <%= i.description.truncate(37, :omission => "...más") %> </p>
      </div>
    </a>
  </li>
  <% end %>
</ul>
