<section id="home">
<div class="hero-content wrapper text-center">
  <h1 class="light-green"><img src="/assets/logo.svg" alt="Municipio Verde" width="80px">Municipio Verde</h1>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <% @data.each_with_index do |data, index| %>
      <div class="carousel-item <%= "active" if index == 0 %>">
        <div class="row text-center">
          <div class="col-md-4">
            <h3>La certificación ambiental de <%= data[:name] %> es  <%= data[:data][:certif] %></h3>
            <p><%= t('.tt_informate') %></p>
            <%= link_to t('.get_informed'), get_informed_path, :class => "btn btn-primary", :data => { :toggle => 'tooltip', :placement => 'bottom' }, :title => t('.tt_informate') %>
          </div>
          <div class="col-md-4">
            <h3>
              Las iniciativas de <%= data[:name] %> tienen nota <%= data[:data][:nota] %>
            </h3>
            <p><%= t('.tt_evalua') %></p>
            <%= link_to t('.opinions'), initiatives_path, :class => "btn btn-default", :data => { :toggle => 'tooltip', :placement => 'bottom' }, :title => t('.tt_evalua') %>
          </div>
          <div class="col-md-4">
            <h3>
              <%= data[:data][:projects] %> proyectos en evaluación en <%= data[:name] %>
            </h3>
            <p>Realiza Observaciones Ciudadanas a proyectos en Evaluación Ambiental</p>
            <%= link_to t('.inspect'), observations_path, :class => "btn btn-warning", :data => { :toggle => 'tooltip', :placement => 'bottom' }, :title => t('.tt_participa') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</section>
