<section id="home">
  <div class="hero-content wrapper text-center">
    <h1 class="light-green"><img src="/assets/logo.svg" alt="Municipio Verde" width="80px">Municipio Verde</h1>

    <div class="row text-center">
      <div class="col-md-4">
        <h2>La certificación ambiental de <%= @data[0][0][:name] %>  es  <%= @data[0][0][:num] %></h2>
        <p><%= t('.tt_informate') %></p>
        <%= link_to t('.get_informed'), get_informed_path, :class => "btn btn-primary", :data => { :toggle => 'tooltip', :placement => 'right' }, :title => t('.tt_informate') %>
      </div>
      <div class="col-md-4">
        <h2>
          Las iniciativas de <%= @data[1][0][:name] %> tienen nota <%= @data[1][0][:num] %>
        </h2>
        <p><%= t('.tt_evalua') %></p>
        <%= link_to t('.opinions'), initiatives_path, :class => "btn btn-default", :data => { :toggle => 'tooltip', :placement => 'right' }, :title => t('.tt_evalua') %>
      </div>
      <div class="col-md-4">
        <h2>
          <%= @data[2][0][:num] %> proyectos en evaluación en <%= @data[2][0][:name] %>
        </h2>
        <p>Realiza Observaciones Ciudadanas a proyectos en Evaluación Ambiental</p>
        <%= link_to t('.inspect'), citizen_obs_path, :class => "btn btn-warning", :data => { :toggle => 'tooltip', :placement => 'right' }, :title => t('.tt_participa') %>
      </div>
    </div>
  </div>

</section>
