<div id="googlemaps"></div>

Iniciativas Ambientales
<div class=\"row\">
  <div class=\"col-md-9\">
    <div id=\"initiatives_form\">
      <%= form_tag initiatives_path, :method => :get, remote: true do |f| %>
        <!-- <%= select_tag :section, options_from_collection_for_select(Section.all, "id", "title", params[:section] || ""), prompt: "Seleccionar Sección", class: "chosen-select" %> -->
        <%= select_tag :area, options_from_collection_for_select(Area.comunas.all, "id", "name", params[:area] || ""), include_blank:  t('.select_area'), class: "chosen-select", id: "initiatives_area_select", onchange: "$(this).parent('form').submit();"%>
        <!-- <%= submit_tag t('.select_area'), class: "btn", id:"initiatives_form_button" %> -->
      <% end %>
    </div>
    <div id="initiatives_list">

    </div>
  </div>
</div>

<!-- Include the Google Maps API library - required for embedding maps -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>

<script type="text/javascript">

// The latitude and longitude of your business / place
var position = [-33.446165, -70.665767];

function showGoogleMaps() {

    var latLng = new google.maps.LatLng(position[0], position[1]);

    var mapOptions = {
        zoom: 10, // initialize zoom level - the max value is 21
        streetViewControl: false, // hide the yellow Street View pegman
        scaleControl: false, // allow users to zoom the Google Map
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latLng
    };

    map = new google.maps.Map(document.getElementById('googlemaps'),
        mapOptions);

    // Show the default red marker at the location
    // marker = new google.maps.Marker({
    //     position: latLng,
    //     map: map,
    //     draggable: false,
    //     animation: google.maps.Animation.DROP
    // });

    <% vitacura = Area.find_by_name 'Vitacura' %>
    <% geojson_polygon = RGeo::GeoJSON.encode vitacura.geom%>

    // var geojson = JSON.parse("{ \"type\": \"FeatureCollection\", \"features\": [{  \"type\": \"Feature\",  \"geometry\": {    \"type\": \"Point\",    \"coordinates\": [-70.565767, -33.446165]  },  \"properties\": {    \"name\": \"Dinagat Islands\"  }}]}");
    // map.data.addGeoJson(geojson);

    // var geojson_polygon = JSON.parse('<%= raw vitacura.geojson %>')
    // map.data.addGeoJson(geojson_polygon);


    // <% Area.find(2).children.each do |provincia| %>
    // <% provincia.children.each do |area| %>
    // <% end %>
    // <% end %>

    <% post_areas = Post.select(:area_id).distinct %>
    <% post_areas.each do |post_area| %>
      <% area = Area.find(post_area.area_id) %>
        <% unless area.geom.nil? %>
          var contentString = '<div id="content">'+' <%= area.name %> '+ '</div>';
          var infowindow_<%= area.id %> = new google.maps.InfoWindow({
            content: contentString
          });

          var latlong = {lat: -25.363, lng: 131.044};

          var marker_<%= area.id %> = new google.maps.Marker({
            position: <%= raw area.centroid_coordinates %>,
            map: map,
            title: '<%= area.name %>',
            draggable: false,
            animation: google.maps.Animation.DROP
          });

          marker_<%= area.id %>.addListener('click', function() {
            infowindow_<%= area.id %>.open(map, marker_<%= area.id %>);
          });

          var geojson_polygon = JSON.parse('<%= raw area.geojson %>')
          map.data.addGeoJson(geojson_polygon);

        <% end %>
    <% end %>


}

google.maps.event.addDomListener(window, 'load', showGoogleMaps);
$('.chosen-select').chosen();
</script>
