<div id="social_logins">
  <% if user_signed_in? %>
    <div>Signed in as... <%= current_user.names %> | <%= link_to "Sign out", destroy_user_session_path %> </div>
  <% else %>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <%= link_to "Sign in with email", new_user_session_path %>
  <% end %>
</div>
