<div id="project-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Project </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @project, remote: true, authenticity_token: true, :html => { :multipart => true }, :data => { :type => :script } do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :mark %>
            <%= f.input :description, as: :text%>
            <%= f.input :end_date %>
            <%= f.input :image %>

            <% unless @project.image.size.nil? %>
            <%= image_tag @project.image.url %>
            <% end %>

            <%= f.association :area, collection: Area.comunas.all,  include_blank: true, input_html: {id: 'project_comuna_dropdown', class: 'chosen-select'}%>
          </div>

          <div class="form-actions">
            <%= f.button :submit, :id => 'project_modal_button', :format => "js", :remote => true, :input_html => {"data-dismiss" => "modal", class: 'btn btn-primary'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
