<div id="project-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> Project </h4>
      </div>
        <%= simple_form_for @project, remote: true, authenticity_token: true, :html => { :multipart => true }, :data => { :type => :script } do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :end_date %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, :id => 'project_modal_button', :format => "js", :remote => true, :input_html => {"data-dismiss" => "modal"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
