<div id="area-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> <%= t '.area_modal_title' %> </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

        <%= simple_form_for @area, remote: true, authenticity_token: true, :html => { :multipart => true }, :data => { :type => :script } do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :name %>
            <% if parent.nil? %>
              <%= f.association :parent, collection: Area.all, include_blank: true, input_html: {id:'area_parent_select', class: 'chosen-select' }%>
              <%= f.association :area_level, collection: AreaLevel.all, input_html: {id:'area_level_select' }%>
            <% else %>
               <%= f.association :parent, collection: Area.all, selected: parent.id, disabled: true, include_blank: true, input_html: {id:'area_parent_select', class: 'chosen-select' }%>
               <%= f.association :area_level, collection: AreaLevel.all, disabled: true , selected: parent.area_level.children.first.id, input_html: {id:'area_level_select' }%>
               <%= f.hidden_field :parent_id, value: parent.id %>
               <%= f.hidden_field :area_level_id, value: parent.area_level.children.first.id %>
            <% end %>
            <%= f.input :geom, :as => :text %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, :id => 'area_modal_button', :format => "js", :remote => true, :input_html => {"data-dismiss" => "area-modal"}  %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
