<div class="row  ml-5" id ="section_<%= @section_index %>_indicator_<%= f.options[:child_index] %>">
  <div class="card w-100">
    <div class="card-block">
      <div class="card-title">
        <h7> <%= t '.indicator'  %> id ="section_<%= @section_index %>_indicator_<%= f.options[:child_index] %>" </h7>
      </div>

      <%= f.input :title, label: t('.title_label'), :input_html => {:id => 'section_'+@section_index.to_s+'_indicator_'+f.options[:child_index].to_s+'_title' } %>
      <%= f.input :description, label: t('.description_label'), :input_html => {:id => 'section_'+@section_index.to_s+'_indicator_'+f.options[:child_index].to_s+'_description' } %>
      <%= f.input :icon, as: :file, label: t('.description_label'), :input_html => {:id => 'section_'+@section_index.to_s+'_indicator_'+f.options[:child_index].to_s+'_icon' } %>

      <% unless f.object.icon.size.nil? %>
        <%= image_tag f.object.icon %>
        <%=  f.object.icon.size %> bytes
      <% end %>
      <br>

      <%= link_to_remove_association f,  data: {confirm: (t '.remove_indicator')+'?'} do %>
        <%= fa_icon "minus 2x" %>
        <%= t '.remove_indicator' %>
      <% end %>
    </div>
  </div>
</div>
