<div class="" id ="section_<%= @section_index %>_indicator_<%= f.options[:child_index] %>">
  <div class="box w-100">
        <h5> <%= t '.indicator'  %> id ="section_<%= @section_index %>_indicator_<%= f.options[:child_index] %>" </h5>

      <%= f.input :title, label: t('.title_label'), :input_html => {:id => 'section_'+@section_index.to_s+'_indicator_'+f.options[:child_index].to_s+'_title' } %>
      <%= f.input :description, label: t('.description_label'), :input_html => {:id => 'section_'+@section_index.to_s+'_indicator_'+f.options[:child_index].to_s+'_description' } %>
      <%= f.input :icon, as: :file, label: t('.description_label'), :input_html => {:id => 'section_'+@section_index.to_s+'_indicator_'+f.options[:child_index].to_s+'_icon' } %>

      <% unless f.object.icon.size.nil? %>
        <%= image_tag f.object.icon %>
        <%=  f.object.icon.size %> bytes
      <% end %>
      <br>

      <%= link_to_remove_association f, class: "btn btn-warning",  data: {confirm: (t '.remove_indicator')+'?'} do %>
        <%= t '.remove_indicator' %>
      <% end %>
  </div>
</div>
