<div class="card">
  <div class="card-block">
    <div class="card-header">
          <h4> <%= t '.title' %> </h4>
    </div>

    <div class="card">
      <div class="card-block">
        <div class="card-header">
              <h4> <%= t '.title_levels' %> </h4>
        </div>

        <%= link_to "Nuevo nivel de Area", new_area_level_path, remote: true, id:"new_area_level_link", class: "btn btn-primary" %>


        <table id="area_levels_table" border=1>
          <tr>
            <th>  <%= t '.id_header' %>  </th>
            <th>  <%= t '.name_header' %>  </th>
          </tr>
          <% @area_levels.each do |area_level| %>
            <%= render "area_levels/row", area_level: area_level %>
          <% end %>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="card-block">
        <div class="card-header">
              <h4> <%= t '.title' %> </h4>
        </div>

        <%= link_to "Nuevo Area", new_area_path, remote: true, id:"new_area_link", class: "btn btn-primary" %>

        <ul>
          <% @countries.each do |area| %>
            <li id="area_li_<%=area.id%>" > <%= link_to(area.name, children_path(area), remote: true) %>
              <%= link_to 'Edit', edit_area_path(area), remote: true %>
              <%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } , remote: true%>
            </li>
          <% end %>
        </ul>

      </div>
    </div>


  </div>
</div>
