<div class="card">
  <div class="card-block">
    <h2> <%= t '.title' %> </h2>

    <div class="box">
              <h4> <%= t '.title_levels' %> </h4>

        <!-- <%= link_to "Nuevo nivel de Area", new_area_level_path, remote: true, id:"new_area_level_link", class: "btn btn-primary" %> -->

        <ul>
            <li id="area_level_li_<%=@main_level.id%>" > <%= link_to(@main_level.name, area_level_children_path(@main_level), remote: true) %>
              <%= link_to '', edit_area_level_path(@main_level), remote: true, class: "fa fa-pencil-square" %>
              <%= link_to '', @main_level, method: :delete, data: { confirm: 'Are you sure?' } , remote: true, class: "fa fa-trash"%>
              <%= link_to '', new_area_level_child_path(@main_level), method: :get , remote: true, class: "fa fa-plus-square"%>
            </li>
        </ul>
    </div>


    <div class="box">
              <h4> <%= t '.title' %> </h4>

        <!-- <%= link_to "Nuevo Area", new_area_path, remote: true, id:"new_area_link", class: "btn btn-primary" %> -->

        <ul>
          <% @countries.each do |area| %>
            <li id="area_li_<%=area.id%>" > <%= link_to(area.name, children_path(area), remote: true) %>
              <%= link_to '', edit_area_path(area), remote: true, class: "fa fa-pencil-square" %>
              <%= link_to '', area, method: :delete, data: { confirm: 'Are you sure?' } , remote: true, class: "fa fa-trash"%>
              <%= link_to '', new_child_path(area), method: :get , remote: true, class: "fa fa-plus-square"%>
            </li>
          <% end %>
        </ul>

    </div>


  </div>
</div>
