<div class="card">
  <div class="card-block">
          <h2> Config </h2>


    <%= simple_form_for @rating, url: backend_rating_definition_path, :remote => true, authenticity_token: true, method: :put, html: { id: :rating_definition_form } do |f| %>

      <% if @rating.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>
          <ul>
          <% @rating.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div id="flash_message" class="hidden alert alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>


      <%= f.input :nosotros, as: :text, input_html: { :style=> 'width: 100%;', :rows => 10} %>


      <%= f.button :submit, id: 'rating_commit_button', class: "btn btn-default", target: '_self', data: { confirm: "Are you sure you want to submit this form?" } %>

    <% end %>
  </div>
</div>
