<div class="card">
  <div class="card-block">
          <h2> <%= t '.title' %> </h2>

    <div class="box">
      <h4> <%= t '.select_indicator' %> </h4>

        <div id="eval_indicator_form">
          <%= form_tag backend_evaluations_path, :method => :get, remote: true do |f| %>
            <!-- <%= select_tag :section, options_from_collection_for_select(Section.all, "id", "title", params[:section] || ""), prompt: "Seleccionar Sección", class: "chosen-select" %> -->
            <%= select_tag :indicator, options_from_collection_for_select(Indicator.all, "id", "title", params[:indicator] || ""), include_blank:  t('.select_indicator'), class: "chosen-select", id: "eval_indicator_select"%>
            <%= select_tag :area, options_from_collection_for_select(Area.comunas.all, "id", "name", params[:area] || ""), include_blank:  t('.select_area'), class: "chosen-select", id: "eval_area_select"%>
            <%= submit_tag t('.filter'), class: "btn", id:"eval_form_button" %>
          <% end %>

        </div>
    </div>

    <div class="box">
        <h4> <%= t '.indicators_list' %> </h4>
        <%= link_to "Nueva Evaluacion", new_evaluation_path, remote: true, id:"new_evaluation_link", class: "btn btn-primary" %>

        <div id="evaluations_table">
          <%= paginate @evaluations %>

          <table border=1 class="table">
            <tr>
              <th>  <%= t '.id_header' %>  </th>
              <th>  <%= t '.area_header' %>  </th>
              <th>  <%= t '.indicator_header' %>  </th>
              <th>  <%= t '.value_header' %>  </th>
              <th></th>
              <th></th>
            </tr>
            <% @evaluations.each do |evaluation| %>
              <%= render "evaluations/row", evaluation: evaluation %>
            <% end %>
          </table>
          <p><%= page_entries_info @evaluations %></p>
        </div>
    </div>

  </div>
</div>
