<div class="card">
  <div class="card-block">
    <h2> <%= t '.title' %> </h2>

    <%= paginate @users %>

    <table class="table" id="users_table" border=1>
      <tr>
        <th><h5>  <%= t '.id_header' %>  </h5></th>
        <th><h5>  <%= t '.email_header' %>  </h5></th>
        <th><h5>  <%= t '.created_header' %>  </h5></th>
        <th><h5>  <%= t '.residence_header' %>  </h5></th>
        <th><h5>  <%= t '.interest_header' %>  </h5></th>
        <th><h5>  <%= t '.provider_header' %>  </h5></th>
      </tr>
      <% @users.each do |user| %>
        <%= render "users/row", user: user %>
      <% end %>
    </table>

    <p><%= page_entries_info @users %></p>
  </div>
</div>
