<tr id="<%= post.id %>">
  <td><%= post.id %></td>
  <td><%= post.title %></td>
  <td><%= post.area.name %></td>
  <td><%= !post.image.size.nil? %></td>
  <td><%= link_to 'Edit', edit_post_path(post), remote: true %></td>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>
