	<div>
		<a href="" class="close cd-img-replace">Close</a>

		<h2><%= @post.id %></h2>
		<em><%= @post.title %></em>

		<% if user_signed_in? %>
			<em>Problem  : <%= rating_for @post, 'problem', star: 7 %>
			Implementation  : <%= rating_for @post, 'implementation', star: 7 %></em>
		<% else %>
			Registrese para votar
		<% end %>

		<%= render 'disqus' %>
	</div>
