	<div>
		<a href="" class="close cd-img-replace">Close</a>

		<h2><%= @post.title %></h2>
		<em><%= @post.body %></em>

		<% if user_signed_in? %>
			<em>Problem  : <%= rating_for @post, 'problem', star: 7 %>
			Implementation  : <%= rating_for @post, 'implementation', star: 7 %></em>
		<% else %>
			<%= link_to registration_path, :class => "nav-link", :data => { :toggle => 'tooltip', :placement => 'right' }, :title => t('.tt_registro') do %>
				<%= t('.sign_up') %>
			<% end %>
		<% end %>

		<% unless @post.image.size.nil? %>
			<%= image_tag @post.image.url %>
		<% end %>

		<%= render 'disqus' %>
	</div>
