<tr id="<%= area_level.id %>">
  <td><%= area_level.id %></td>
  <td><%= area_level.name %></td>
  <td><%= link_to 'Edit', edit_area_level_path(area_level), remote: true %></td>
  <td><%= link_to 'Destroy', area_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
