<div class="left_menu">
  <ul class="nav flex">
    <li class="nav-item">
      <%= link_to t('.posts'), backend_posts_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.areas'), backend_areas_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.evaluations'), backend_evaluations_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.definition'), backend_rating_definition_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.posts'), backend_posts_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.users'), backend_users_path, :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.projects'), backend_projects_path, :class => "nav-link" %>
    </li>
  </ul>
</div>
