<!DOCTYPE html>
<html>
  <head>
    <title>Municipio Verde</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
    <link href="https://fonts.googleapis.com/css?family=Palanquin:100,400" rel="stylesheet">
    <%= ga_script %>
  <!-- Para cambiar color svg -->
  </head>

  <body>
    <div id="app_container">
        <div id="side_menu">
          <%= render 'layouts/side_menu'%>
        </div>
        <div id="content" class="content-right">
          <%= yield %>
        <div class="wrapper">
          <footer class="footer">
            <div class="row text-center">
              <div class="col-md-4">
                <%= image_tag 'fima.svg' %>
              </div>
              <div class="col-md-4">
                <%= image_tag 'corfo.svg' %>
              </div>
              <div class="col-md-4">
                <%= image_tag 'socialab.svg' %>
              </div>
            </div>
            <div class="text-center">
              <p>Hecho con <i class="fa fa-heart-o" aria-hidden="true"></i> para una sociedad mejor</p>
            </div>
          </footer>
        </div>
        </div>
    </div>
    <%= ga_track %>

  </body>

  <script type="text/javascript">
      jQuery('nav-informate.svg').each(function(){
          var $img = jQuery(this);
          var imgID = $img.attr('id');
          var imgClass = $img.attr('class');
          var imgURL = $img.attr('src');

          jQuery.get(imgURL, function(data) {
              // Get the SVG tag, ignore the rest
              var $svg = jQuery(data).find('svg');
              // Add replaced image's ID to the new SVG
              if(typeof imgID !== 'undefined') {
                  $svg = $svg.attr('id', imgID);
              }
              // Add replaced image's classes to the new SVG
              if(typeof imgClass !== 'undefined') {
                  $svg = $svg.attr('class', imgClass+' replaced-svg');
              }
              // Remove any invalid XML tags as per http://validator.w3.org
              $svg = $svg.removeAttr('xmlns:a');
              // Replace image with new SVG
              $img.replaceWith($svg);
          }, 'xml');
      });
      </script>
  </head>
</html>
