<!DOCTYPE html>
<html>
  <head>
    <title>Municipio Verde</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
    <link href="https://fonts.googleapis.com/css?family=Karla|Poppins" rel="stylesheet">

  <!-- Para cambiar color svg -->
  </head>

  <body>
    <div class="container-fluid" id="app_container">
      <div class="row">
        <div class="col-1">
          <div id="side_menu">
            <%= render 'layouts/side_menu'%>
          </div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <div class="col-11">
          <div id="content" class="right_content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
      jQuery('nav-informate.svg').each(function(){
          var $img = jQuery(this);
          var imgID = $img.attr('id');
          var imgClass = $img.attr('class');
          var imgURL = $img.attr('src');

          jQuery.get(imgURL, function(data) {
              // Get the SVG tag, ignore the rest
              var $svg = jQuery(data).find('svg');

              // Add replaced image's ID to the new SVG
              if(typeof imgID !== 'undefined') {
                  $svg = $svg.attr('id', imgID);
              }
              // Add replaced image's classes to the new SVG
              if(typeof imgClass !== 'undefined') {
                  $svg = $svg.attr('class', imgClass+' replaced-svg');
              }

              // Remove any invalid XML tags as per http://validator.w3.org
              $svg = $svg.removeAttr('xmlns:a');

              // Replace image with new SVG
              $img.replaceWith($svg);

          }, 'xml');

      });
      </script>
  </head>

  <body>
    <div class="container-fluid" id="app_container">
          <div id="side_menu">
            <%= render 'layouts/side_menu'%>
          </div>
          <p class="notice"><%= notice %></p>
          <!-- <p class="alert"><%= alert %></p> -->
        <div class="content-right">
          <div id="content">
            <%= yield %>
          </div>
        </div>
    </div>
  </body>
</html>
