<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Municipio Verde</title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container-fluid" id="app_container">
        <!-- <%= render 'layouts/social_logins'%> -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <h1><%= t('.title_backend') %></h1>
        <%= render 'layouts/top_menu'%>
        <div id="backend_content">
          <%= yield %>
        </div>
    </div>
  </body>
</html>
