<h2> <%= t '.user_data' %></h2>

<%= simple_form_for(resource, as: resource_name, :url=> { :controller => "users/registrations", :action => "update" }, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, :input_html => { :value => current_user.email } %>
    <%= f.input :names, required: true, :input_html => { :value => current_user.names }, label: t('.names') %>
    <%= f.input :surnames, required: true, :input_html => { :value => current_user.surnames }, label: t('.surnames') %>
    <%= f.collection_select(:area_of_residence_id, Area.comunas.all, :id, :name, {:selected => current_user.area_of_residence_id, prompt: 'Seleccione comuna de residencia'}, {'id' => 'post_comuna_dropdown','class' => 'chosen-select form-control'}) %>
    <%= f.collection_select(:area_of_interest_id, Area.comunas.all, :id, :name, {:selected => current_user.area_of_interest_id, prompt: 'Seleccione comuna de interés'}, {'id' => 'post_comuna_dropdown','class' => 'chosen-select form-control'}) %>

    <% if current_user.provider.blank? %>
    <%= f.input :password, autocomplete: "off", placeholder: t( '.new_password_change_placeholder' ), required: false, label: 'Contraseña' %>
    <%= f.input :password_confirmation, required: false, placeholder: t( '.new_password_change_placeholder' ) %>
    <%= f.input :current_password, placeholder: t( '.password_change_placeholder' ), required: true, label: t('.confirmation') %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.update') %>
  </div>
<% end %>
