<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, :url=> { :controller => "users/registrations", :action => "update" }, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, :input_html => { :value => current_user.email } %>
    <%= f.input :names, required: true, :input_html => { :value => current_user.names } %>
    <%= f.input :surnames, required: true, :input_html => { :value => current_user.surnames } %>
    <%= f.collection_select(:area_of_residence_id, Area.comunas.all, :id, :name, {prompt: 'Seleccione comuna de residencia'}, {'id' => 'post_comuna_dropdown','class' => 'chosen-select form-control'}) %>
    <%= f.collection_select(:area_of_interest_id, Area.comunas.all, :id, :name, {prompt: 'Seleccione comuna de interés'}, {'id' => 'post_comuna_dropdown','class' => 'chosen-select form-control'}) %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
