<%= simple_form_for(resource, as: resource_name, :url=> { :controller => "users/registrations", :action => "create" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :names, required: true %>
    <%= f.input :surnames, required: true %>
    <%= f.collection_select(:area_of_residence_id, Area.comunas.all, :id, :name, {prompt: 'Seleccione comuna de residencia'}, {'id' => 'post_comuna_dropdown','class' => 'chosen-select form-control'}) %>
    <%= f.collection_select(:area_of_interest_id, Area.comunas.all, :id, :name, {prompt: 'Seleccione comuna de interés'}, {'id' => 'post_comuna_dropdown','class' => 'chosen-select form-control'}) %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrarme", :class => "btn btn-default" %>
  </div>
<% end %>
